.Loader {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  transition: all 1s ease-in;


}
.Loader  > .Spinner {
  width: 75px;
  height: 75px;
}
.Spinner {
  animation: rotate 2s linear infinite;
  height: 32px;
  width: 32px;
  transform-origin: center center;
}

.spinner-path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke: dodgerblue;
}
.dark {
  stroke: dodgerblue;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
